<h1>Welcome to PearBnB</h1>
<p>Rent a Place!</p> 
<p>Or Rent Your Place and Be a Host!</p>

<br>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
