<h1>Welcome to PairBNB</h1>
<p>Rent a Place!</p> 
<p>Or Rent Your Place and Be a Host!</p>

<% if current_user.profile == nil %>
  <%= link_to "Let's Setup Your Profile", new_profile_path %>
 <% else %>
  <%= link_to "#{current_user.profile.name}'s profile", profile_path(current_user.profile.id) %>
<% end %>
