<h1>PairBnB</h1>
<p>Discover New Worlds</p>

<% if signed_in? %>
<%= link_to "My Profile", current_user%>
<% else %>
<p>Sign In For An Account To Continue</p>
<%end%>














<!-- <p>Routes</p> -->
<!-- <p>Static#index</p>
<p>Sign in</p> -->